<div class="footermain">
    <div class="line"></div>
    <div class="footerparent">
        <div class="footer">
            <img id="footer-logo" src="/assets/footer_logo.png" alt="">
            <span class="desc">TERMS OF USE</span>
            <span class="desc">LEGAL NOTICES</span>
            <span class="desc">PRIVACY POLICY</span>
            <span class="desc">STAR WARS AT HELPDESK</span>
            <span class="desc">STAR WARS AT DISNEY STORE</span>
        </div>

    </div>
    <div class="copyright">
        TM & &copy Lucas Films Ltd. All Rights Reserved
    </div>
</div>