<app-const-assets></app-const-assets>
<div class="parentContainer">
    <div class="main">
        <div class="align"  >
            <img src="/assets/films_normal.png" alt="" onmouseover="this.src='/assets/films_pressed.png'" onmouseout="this.src='/assets/films_normal.png'" routerLink="/films" id="images"/>
            <p class="names">FILMS</p>
        </div>
        <div class="align">
            <img src="/assets/species_normal.png" alt=""  onmouseover="this.src='/assets/species_pressed.png'" onmouseout="this.src='/assets/species_normal.png'" routerLink="/species"id="images">
            <p class="names">SPECIES</p></div>
        <div class="align" routerLink="/planets">
            <img src="/assets/planets_normal.png" alt="" onmouseover="this.src='/assets/planets_pressed.png'" onmouseout="this.src='/assets/planets_normal.png'" id="images">
            <p class="names">PLANETS</p></div>
        <div class="align" routerLink="/people"> 
            <img src="/assets/characters_normal.png" alt=""  onmouseover="this.src='/assets/characters_pressed.png'" onmouseout="this.src='/assets/characters_normal.png'" id="images">
            <p class="names">PEOPLE</p>
        </div>
        <div class="align" routerLink="/vehicles">
            <img src="/assets/vehicles_normal.png" alt=""  onmouseover="this.src='/assets/vehicles_pressed.png'" onmouseout="this.src='/assets/vehicles_normal.png'" id="images">
            <p class="names">STARSHIP</p>
        </div>
        <div class="align" routerLink="/starship">
            <img src="/assets/droids_normal.png " alt=""  onmouseover="this.src='/assets/droids_pressed.png'" onmouseout="this.src='/assets/droids_normal.png'" id="images">
            <p class="names">VEHICLES</p>
        </div>
    </div>
</div>

<div class="footermain">
    <app-footer></app-footer>
</div>

<!-- <div class="parentContainer">
    <div class="main">
        <div class="align">
            <img src="/assets/films_pressed.png" alt="" id="images">
            <p class="names">FILMS</p>
        </div>
         <div class="align" (click)="clicked()">
            <img src="/assets/films_pressed.png" alt="" id="images">
            <p class="names">FILMS</p>
        </div>
        <div class="align">
            <img src="/assets/species_pressed.png" alt=""  id="images">
            <p class="names">SPECIES</p></div>
        <div class="align">
            <img src="/assets/planets_pressed.png" alt=""  id="images">
            <p class="names">PLANETS</p></div>
        <div class="align"> 
            <img src="/assets/characters_pressed.png" alt=""  id="images">
            <p class="names">PEOPLE</p>
        </div>
        <div class="align">
            <img src="/assets/vehicles_pressed.png" alt=""  id="images">
            <p class="names">STARSHIP</p>
        </div>
        <div class="align">
            <img src="/assets/droids_pressed.png" alt=""  id="images">
            <p class="names">VEHICLES</p>
        </div>
    </div>
</div> -->
