{{det()}}
<div class="nav" >
    <div class="char_grp"  routerLink="/films" [routerLinkActive]="active" [ngClass]="active2">FILMS</div>
    <div class="char_grp"  routerLink="/species" [routerLinkActive]="active" [ngClass]="active4">SPECIES</div>
    <div class="char_grp"  routerLink="/planets" [routerLinkActive]="active" [ngClass]="active3">PLANETS</div>
    <div class="char_grp"  routerLink="/people" [routerLinkActive]="active" [ngClass]="active1">CHARACTERS</div>
    <div class="char_grp"  routerLink="/starship" [routerLinkActive]="active" [ngClass]="active6">STARSHIPS</div>
    <div class="char_grp"  routerLink="/vehicles" [routerLinkActive]="active"  [ngClass]="active5">VEHICLES</div>

</div>
