<app-constant-assets></app-constant-assets>
<div class="mobileHead">
    <div><mat-icon class="arrowIcon" (click)="backToHome()">arrow_back</mat-icon></div>
    <div class="headerText">Favourite</div>
    <div><mat-icon class="searchMatIcon">search</mat-icon></div>
</div>


<div class="noFavdis" *ngIf="favCity===null || favCity?.length<1">
    <div class="img"><img src="/assets/icon_nothing.png" alt=""></div>
    <div class="txt">No Favourites added</div>
</div>

<div class="main" *ngIf="favCity?.length>=1">
        <div class="subheader">
            <div class="msg">
                <span>{{favCity.length}} city added as favourite</span>
            </div>
            <button (click)="favDialog()" class="remove">
                Remove All
            </button>
        </div>
       
    
        <div class="row" *ngFor="let data of favCity" (click)="goBack(data)">
            <div class="place">{{data.name}}</div>
            <div class="temperature">
                <div class="icon"><img src="http://openweathermap.org/img/wn/{{data['weather'][0].icon}}@2x.png"id="icon" alt=""></div>
                <div class="cont">
                    <div class="deg">
                        {{(data['main'].temp -273.15).toFixed(0)}}  <span class="temp">&#176;C</span>
                    </div>
                </div>
                <div class="comment">
                    {{(data['weather'][0].description | titlecase)}}
                </div>
            </div>
    
            <div class="fav" (click)="removeFav(data.name)">
                <mat-icon>favorite</mat-icon>
            </div>
            
        </div>
    
    
        
</div>